{% extends 'crypto/base.html' %}
{% block content %}
    <br>
    <div class="container">
        <div class="container">
            <h2 style="display: inline-block">내 현재 보유 잔고(KRW): </h2>
            <h2 style="display: inline-block">{{ balance }}</h2>
        </div>
        <br>
        <div class="container">
            <h4>보유 잔고 수정하기</h4>
            <form method="post" action="/mywallet/setting">
                {% csrf_token %}
                <input class="form-control" type="number" name="krw_balance"><br>
                <button type="submit" class="btn btn-outline-primary">변경하기</button>
            </form>
        </div>
    </div>
{% endblock %}